body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

html {
  background: url("../assets/img/blurbackground.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

#brand a {
  font-size: x-large;
  color: rgb(255, 100, 0);
  text-decoration: none;
  transition: 0.5s;
}

#brand a:hover {
  font-size: x-large;
  color: rgb(255, 224, 192);
  text-decoration: none;
  transition: 0.5s;
}

#brand {
  text-align: center;
  margin-bottom: 65px;
  margin-top: 25px;
}

.animation1 {
  animation-duration: 3s;
  animation-name: slidein1;
  animation-iteration-count: 1;
}

@keyframes slidein1 {
0% {
  margin-top: 500px;
  opacity: 0%;
}
100% {
  margin-left: 0%;
}
}

@media (max-width: 2000px) {
  .wrapper {
    margin-top: 0%;
    display: grid;
    grid-template-columns: 100px 170px;
    grid-gap: 50px;
    justify-content: center;
  }

  .box {
    font-size: 150%;
  }

  .box img {
    width: 100px;
  }

  .box p {
    color: rgb(255, 224, 192);
    transition: 1s;
  }

  .box p:hover {
    color: rgb(255, 100, 0);
    transition: 0.5s;
  }
  
  .box img {
    width: 100%;
    transition: 1s;
  }

  .box img:hover {
    width: 110%;
    transition: 0.5s;
  }

  footer.footer-info {
    color: rgb(255, 224, 192);
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 99.6%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: -122px ;
  }
  
  .footer-info a {
    color: rgb(255, 100, 0);
  }
}

@media (max-width: 600px) {
    .wrapper {
      display: grid;
      grid-template-columns: 100px 170px;
      grid-gap: 50px;
      justify-content: center;
    }
  
    .box {
      font-size: 125%;
    }
  
    .box img {
      width: 75px;
    }
  
    .box p {
      color: rgb(255, 224, 192);
      transition: 1s;
    }
  
    .box p:hover {
      color: rgb(255, 100, 0);
      transition: 0.5s;
    }
    
    .box img {
      width: 75px;
      transition: 1s;
    }
  
    .box img:hover {
      width: 82.5px;
      transition: 0.5s;
    }
  }

  @media (max-width: 450px) {
    #socialsSection {
      height: 100%;
    }
    .wrapper {
      display: grid;
      grid-template-columns: 50px 170px;
      grid-gap: 50px;
      justify-content: center;
    }
  
    .box {
      font-size: 125%;
    }
  
    .box img {
      width: 75px;
    }
  
    .box p {
      color: rgb(255, 224, 192);
      transition: 1s;
    }
  
    .box p:hover {
      color: rgb(255, 100, 0);
      transition: 0.5s;
    }
    
    .box img {
      width: 75px;
      transition: 1s;
    }
  
    .box img:hover {
      width: 82.5px;
      transition: 0.5s;
    }
  }

  @media (max-width: 400px) {
    .wrapper {
      display: grid;
      grid-template-columns: 50px 170px;
      grid-gap: 50px;
      justify-content: center;
    }
  
    .box {
      font-size: 125%;
    }
  
    .box img {
      width: 75px;
    }
  
    .box p {
      color: rgb(255, 224, 192);
      transition: 1s;
    }
  
    .box p:hover {
      color: rgb(255, 100, 0);
      transition: 0.5s;
    }
    
    .box img {
      width: 75px;
      transition: 1s;
    }
  
    .box img:hover {
      width: 82.5px;
      transition: 0.5s;
    }
  }